
# Copyright (c) 2015-2017 Agalmic Ventures LLC (www.agalmicventures.com)
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

[alias]
	#Shortcuts
	c = commit
	ci = commit
	co = checkout
	d = diff
	df = diff
	l = log
	s = status
	st = status
	stat = status

	#Misspellings
	brach = branch
	brnch = branch

	cmmit = commit
	comit = commit
	commi = commit
	commt = commit

	dff = diff
	doff = diff
	idff = diff

	pll = pull
	pul = pull

	psh = push
	puhs = push
	pus = push

	ssave = "!f() { git stash save $1; }; f"
	sshow = "!f() { git stash show stash^{/$*} -p; }; f"
	sdrop = "!f() { git stash drop stash^{/$*}; }; f"
	sapply = "!f() { git stash apply stash^{/$*}; }; f"

	diffr  = !"git diff "$1"^.."$1"" # diff-revision (usage: diffr <hash> <hash>)
	ia = merge-base --is-ancestor # is-ancestor (usage: ia <hash> <hash>)

	#Accidental doublings (e.g. git git)=
	git = !exec git

	#How things could have been
	praise = blame

[color]
	diff = auto
	status = auto

[color "diff"]
	meta = yellow bold
	frag = cyan
	old = red
	new = green

[color "status"]
	added = green
	changed = red
	untracked = cyan

[core]
	#Only activate paging if output doesn't fit on one screen
	pager = "less -F"

[grep]
	extendRegexp = true  # use extended regex

[push]
	default = simple

[status]
	submoduleSummary = true
	showUntrackedFiles = all

[user]
	name = Ian Hutchinson
	email = ihutchinson@agalmicventures.com
